/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    height: 6em;
    background-color: #4F98F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
}

nav div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div button {
    background-color: #4F98F7;
    border: 0;
}

.buy {
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 6.9375rem;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.buy span {
    color: #02187E;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 1.18125rem */
    letter-spacing: 0.1375rem;
}

/* seccion spidey and his amazing friends*/

.spidey-amazing-friends {
    width: 100%;
    background-color: #2982FF;
    height: auto;
    /* position: relative; */
}

/* fondo cielo*/

.spidey-amazing-friends div:nth-child(1) {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: auto;
}

.spidey-amazing-friends div:nth-child(1) img {
    width: 100%;
    height: 100%;
}


/* edificio izquierda */
 .spidey-amazing-friends div:nth-child(2) {
    width: 100%;
    position: absolute;
    z-index: 30;
    height: auto;
    top: 20%;
}

.spidey-amazing-friends div:nth-child(2) img {
    width: auto;
    height: auto;
} 

/* edificio centro */
.spidey-amazing-friends div:nth-child(3) {
    position: absolute;
    z-index: 20;
    height: auto;
    /* left: 28%; */
    left: 28%;
    top: 100%;
}

.spidey-amazing-friends div:nth-child(3) img {
    width: auto;
    height: auto;
} 


/* edificio derecha */
.spidey-amazing-friends div:nth-child(4) {
    position: absolute;
    z-index: 30;
    height: auto;
    top: 20%;
    right: 0;
}

.spidey-amazing-friends div:nth-child(4) img {
    width: auto;
    height: auto;
} 


/* titulo spidey */

.spidey-amazing-friends div:nth-child(5) {
    position: absolute;
    z-index: 50;
    height: auto;
    left: 25%;
    top: 11%;
}

.spidey-amazing-friends div:nth-child(5) img {
    width: auto;
    height: auto;
} 

/* spidey blanco */

.spidey-amazing-friends div:nth-child(6) {
    position: absolute;
    z-index: 50;
    height: auto;
    left: 6.7%;
    top: 60%;
}

.spidey-amazing-friends div:nth-child(6) img {
    width: auto;
    height: auto;
} 


/* spidey rojo */

.spidey-amazing-friends div:nth-child(7) {
    position: absolute;
    z-index: 50;
    height: auto;
    left: 29%;
    top: 65%;
}

.spidey-amazing-friends div:nth-child(7) img {
    width: auto;
    height: auto;
} 


/* spidey negro */

.spidey-amazing-friends div:nth-child(8) {
    position: absolute;
    z-index: 50;
    height: auto;
    left: 54%;
    top: 50%;
}

.spidey-amazing-friends div:nth-child(8) img {
    width: auto;
    height: auto;
} 

/* telaraña izquierda */

.spidey-amazing-friends div:nth-child(9) {
    position: absolute;
    z-index: 100;
    height: auto;
    left: 0;
    top: 61%;
}

.spidey-amazing-friends div:nth-child(9) img {
    width: auto;
    height: auto;
} 



/* telaraña derecha */

.spidey-amazing-friends div:nth-child(10) {
    position: absolute;
    z-index: 100;
    height: auto;
    right: 0;
    top: 58.5%;
}

.spidey-amazing-friends div:nth-child(10) img {
    width: auto;
    height: auto;
} 

/* .spidey-amazing-friends div:nth-child(11) {
    background-color: #8F6AA6;
    height: 20em;
    position: absolute;
    z-index: 35;
    top: 100%;
} */



/* .main section:nth-child(2) {
    position: absolute;
    z-index: 40;
    background-color: #8F6AA6;
    height: 60em;
    width: 100%;
    bottom: 0;
    top: 50em;
} */

.green-goblin-svg {
    height: 150em;
    position: absolute;
    z-index: 40;
    right: 0;
    width: 100%;
    top: 0em;
}

.meet-spider-friends {
    position: absolute;
    z-index: 45;
    top: 58em;
    height: 50em;
    display: flex;
    
}

.textSpidey {
    background-color: black;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    height: 20em;
}