












































































































:root{
    /*colores*/
    --negro: #242424;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
}
.marcasfooter{
    width: 100%;
    display: flex;
    background-color: var(--negro);
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.infofooter{
    
}
