.carruselcompleto {
    width: 100%;
    padding: 0.25em;
    height: auto;
    position: relative;
    overflow: hidden;
}

.card {
    /*width 15em*/
    width: 15em;
    height: 21em;
    margin-left: 1.5em;
    background-color: var(--blanco);
    box-shadow: 1px 0px 5px var(--prim-sombra3);
    border: 1px solid var(--negro);
    z-index: 1;
    position: relative;
}

.carruselcompleto {
    width: 100%;
    padding: 0.25em;
    height: auto;
    position: relative;
    overflow: hidden;
}

.btn-left-cards,.btn-right-cards {
    display: flex;
    position: absolute;
    top: 65%;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    z-index: 10;
}
.carruselcompleto {
    width: 100%;
    height: auto;
}

.carrusel {
    display: flex;
    margin-bottom: 1em;
    width: 1000%;
    position: relative;
}


.s-section {
    width: calc(100% / 2);
    height: 100%;
}

.imgcardsresponsive {
    margin: 1em; 
    width: 13em;
    height: 13em;
    object-fit: cover;
}

.btn {
    border-radius: 0.2em;
}

body {
    background-color: blue;
}