.carruselprincipal {
    display: flex;
    width: 200%;
    height: auto;
    flex-wrap: nowrap;
    overflow: hidden; 
}

.cincocards {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; /*agrega una transicion suave*/
}

.btn-left-cards {
    position: absolute;
    z-index: 100;
    left: 0em;
    top:12em;
}

.btn-right-cards{
    position: absolute;
    z-index: 100;
    right: 1em;
    top:12em;
}