@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100&display=swap');
/*NO HACER PUSH*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.test {
    display: flex;
    width: 100%;
    
}

:root {
    /* seccion colores */
    --acento-luz: #00D88C;
    --acento: #00724A;
    --acento-oscuro: #003A26;;
    --prim: #00488A;
    --prim-luz1: #0A5499;
    --prim-luz2: #0B64B8;
    --prim-luz3: #0D85F5;
    --prim-sombra1: #00284E;
    --prim-sombra2:  #00182F;
    --prim-sombra3: #000D1A;
    --blanco: #F5FBFF;
    --blanco-oscuro: #E5F4FF;
    --negro: #23282B;
    --especial: #34D919; 
}




/* nav responsive */

.primariosombra2{
    background-color: var(--prim-sombra2);
}

.navhome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5em;
}
.logoplaneta {
    width: 2.1em;
    height: 2em;
}

.hamburguer-menu button{
    margin-left: 1.5em;
    margin-right: 1em;
    border: 0;
}
.logoastrojuegos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    display: flex;
    align-items: center;
}
.titulo .tituloh1{
    margin-left: 0.25em;
    font-size: medium;
}

.iconosnav{
    width: 100%;
    display: flex;
    align-items: center;
}

.carrito button {
    margin-left: 4em;
    width: 2em;
    height: 2em;
    border: 0;
}
.carrito button img {
    width: 100%;
}
.perfil, .carrito{

    width: 50%;
    height: 50%;
}
.perfil button{
    width: 3.5em;
    height: 4em;
    border-radius: 9em;
    margin-left: 1em;
    margin-right: 0.5em;
    border: 0;
}
.perfil button img {
    width: 100%;
}

/*footer responsive*/

.footerhome{
    display: flex;
    flex-direction: column;
    height: 12em;
}

.footerhome button {
    margin-top: 1em;
    margin-left: 1.5em;
    display: flex;
    align-items: center;
    border: 0;
    width: 7em;
    background-color: var(--prim-sombra2);
    color: var(--blanco);
    cursor: pointer;
}

.footerhome .footerulhidden {
    display: none;
}

/*cards responsive*/
.btn {
    border-radius: 0.2em;
}
.main {
    height: 70%;
    background-image: url('../imgs/imgEspacial.jpg');
}
.imgcarruselprincipal{
    width: 100%;
    height: 10.31em;
}
.imgcardsresponsive {
    width: 6.87em;
    height: 6.87em;
}
.carruseles {
    width: 100%;
    height: 32em;
    background-color: blue;
}
.card {
    background-color: red;
}
.h3 {
    font-size: smaller;
}

.gratis{
        width: 2.9em;
        height: 1.5em;
        margin: 0.5rem;
        background-color: var(--especial);
}

/*  Seccion Formulario Registro */

.register-container {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    background-image: url('../imgs/imgEspacial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tituloLogo h1 {
    margin-left: 0.2em;
}
.tituloLogo {
    display: flex;
    height: 2.6em;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
}

.tituloLogo img {
    width: 2.5em;
    height: 2.7em;
    margin-left: 3em;
}

.tituloLogo h1 {
    margin-right: 1em;
    font-family: var(--fuente-logo);
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-register-container {
    width: 25.65em;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.tituloRegister {
    width: 25.62531rem;
    height: 2.875rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.6em;
}


.linea {
    display: inline-block;
    width: 4.06294rem;
    height: 0.0625rem;
    background-color: var(--blanco);
    margin: 1em 0;
}

.marcianito {
    width: 2.375rem;
    height: 2.375rem;
    margin-left: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
}

.registrarse {
    display: inline-block;
    text-align: center;
    padding-bottom: 0.4em;
}

.registrarse h1{
    font-family: var(--fuente-logo);
    display: inline;
    margin-bottom: 3em;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
}
.form-register {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.form-register label {
    color: var(--blanco);
    width: 19.625rem;
    height: 1.3125rem;
}
.lineaingresar {
    display: inline-block;
    width: 6.06294rem;
    height: 0.0625rem;
    background-color: var(--blanco);
    margin: 1em 0;
}

.inputForm {
    margin: 0.4em 0;
    width: 100%;
    height: 3.625em;
    background-color: var(--prim-sombra2);
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    color: var(--gris);
    outline: 0;
    margin-bottom: 1em;
    padding: 0.7em;
}

.inputForm:hover {
    background-color: var(--prim-sombra1);
}
/* seccion botones form */

.btn-captcha-container, .btn-registrarse-container {
    text-align: center;
    margin-top: 1em;
    width: 100%;
    height: 3.823rem;
    align-items: center;
}

.btn-captcha-container{
    margin-left: 5em;
    display: flex;
    width: 16.07213em;
    height: 4.0625em;
    background-color: var(--prim-sombra2);
    border: 1px solid var(--blanco);
    border-radius: 0.5em;
}
.btn-captcha-container .rectanguloCaptcha{
    width: 1.50em;
    height:1.50em;
    border-radius: 0.125rem;
    border: 1px solid var(--gris, #B8CAD8);
    margin-left: 2em;
    margin-right: 1em;
}
.btn-captcha-container button {
    background-color: var(--prim-sombra2);
    margin-left: 3em;
}

.colorblanco {
    color: var(--blanco);
}
a.colorblanco{
    text-decoration:underline;
}

.img-captcha {
    margin-left: 1em;
}
.texto {
    color: var(--blanco)
}
.btn-registrarse-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    height: 2.8125rem;
    
}


.btn-registrarse-container button {
    width: 10.9375em;
    height: 100%;
    background-color: var(--prim-luz3);
    border: 0;
}

.h3 {
  font-size: medium;  
}
.h4 {
    font-size: small;
}
.textonegro{
    color: var(--negro);
}

.lineaBtnGoogleFace1 {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1em 0;
    margin-top: 1.5em;
}

.lineaBtnGoogleFace1 p{
    display: inline;
    color: var(--blanco);
    font-size: 0.75em;
    margin: 0 1em;
}

.linea2 {
    width: 12.1875rem;
    height: 0.0625rem;
    background-color: var(--blanco);
}

.linea-btns-google-face {
    width: 25.875rem;
    height: 0.0625rem;
    background-color: var(--blanco);
   
}

.tienesCuenta {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

.tienesCuenta h2, span {
    color: var(--blanco);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tienesCuenta span {
    color: var(--prim-luz3);
}
.linea3 {
    margin-top: 2em;
    width: 100%;
    height: 0.0625em;
    background-color: var(--blanco);
}



/* Seccion Juego */

.main-game-container {
    width: 100%;
    height: auto;
    background-image: url(../imgs/main.png);  
    background-size: cover;
    display: flex;
    justify-content: center;
}

.sub-container {
    width: 90%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: #3f4442;
    background-image: url(../imgs/mainOpacity.png); 
}

.sub-sub-container {
    width: 90%;
}


.broadcrum {
    display: flex;
    margin-top: 0.4em;
    margin-bottom: 1.5em;
    align-items: left;
    flex-direction: column;

}

.TextosBroadcrum {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.logoH1 {
    display: flex;
    
}

.TextosBroadcrum h1 {
    font-family: Poppins;
    padding-bottom: 0em;
    font-size: 2em;
    color: var(--blanco);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TextosBroadcrum h3 {
    font-family: Poppins;
    font-size: 1.2em;
    color: var(--blanco);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.LogoBroadcrum img {
    width: 5.8775em;
    height: 4.875em;
    margin-top: 0.5em;
}

.linegameone {
    height: 0.08em;
    background-color: var(--blanco);
}

.game-container {
    margin-top: 1.5em;
    height: 56.375em;
}

.game-container button {
    position: absolute;
    width: 6.375rem;
    height: 2.1875rem;
    margin-top: 1em;
    margin-left: 1.9em;
    border: 0.12em solid var(--acento-luz);
    border-radius: 0.377rem;
    color: var(--acento-luz);
    text-align: center;
    font-size: 0.87969em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02638em;
    background: #141515;
}

.game-container img {
    width: 100%;
    height: 100%;
}

.info-game {
    margin-top: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
    background-color: var(--prim-sombra2);
}

.deQueTrata {
    text-align: center;
    padding-top: 2em;
    width: 92%;
}

.descripcion {
    padding-top: 2em;
}

.descripcion p {
    display: inline-block;
    width: 100%;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    color: var(--blanco);
}

.deQueTrata h1 {
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
}

.deQueTrata .imgsGame {
    display: flex;
    margin-top: 2.5em;
    width: 100%;
    justify-content: space-between;

}

.imgsGame {
    width: 60em;
    display: flex;
    justify-content: space-evenly;
}

.imgsGame img {
    width: 22%;
    height: 12.63019em;
}



.MomentosIncreibles {
    margin-top: 5em;
    height: auto;
    margin-bottom: 2em;
}

.MomentosIncreibles h1 {
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
}

.videos {
    display: flex;
    justify-content: space-between;
}

.videos video {
    width: 45%;
    height: 19.79169em;
}





.linksBtnCompartir {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.btn-compartir {
    width: 48%;
    text-align: left;
}

.btn-compartir button {
    width: 10.65138em;
    height: 4.6875em;
    border-radius: 0.8125em;
    background-color: var(--prim-sombra3);
    color: var(--blanco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-left: 2em;
}

.btn-compartir button div {
    width: 10.65138em;
    height: 4.6875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.btn-compartir button img {
    width: 1.32225em;
    height: 1.64475em;
}

.btn-compartir button div p {
    padding-bottom: 0.4em;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links {
    width: 50%;
    text-align: left;
    color: var(--blanco);
}

.links div p {
    margin-bottom: 0.5em;
}

.links div a {
    color: var(--blanco);
    text-decoration: none;
}

.links div:first-child {
    margin-bottom: 2em;
}




.community-section {
    height: 72.4em;
}

.lineacomentarios {
    width: 100%;
    height: 0.2em;
    background-color: var(--blanco);
}

.ult-coment-titulo {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
}

.ult-coment-titulo h2 {
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
    margin-left: 0.5em;
}

.tituloComentarios {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.ult-coment-titulo div img {
    width: 3.11675rem;
    height: 2.5rem;
    margin-right: 0.25em;
}

.dejaTuComentario {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    width: 100%;
}

.tituloLogoInput {
    display: flex;
    flex-direction: column;
    color: var(--blanco);

}

.tituloLogoAstronauta {
    display: flex;
    justify-content: center;
    height: 3em;
    align-items: center;
    margin-top: 1em;
}

.tituloLogoAstronauta h2 {
    font-size: 1.625em;
    padding-left: 0.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.tituloLogoAstronauta img {
    width: 1.96581rem;
    height: 2rem;
    
}

.ponerReseña {
    height: 71.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.inputReseña {
    margin-top: 0.5em;
}

.inputReseña input {
    width: 100%;
    height: 13.5em;
    background-color: var(--prim-sombra3);
    border-radius: 0.3125rem;
    border: var(--blanco) solid 0.075em;
}

.calificarJuego {
    display: flex;
    margin-top: 0.5em;
    justify-content: left;
    align-items: center;
}

.calificarJuego p {
    font-size: 1.625em;
    
}

.estrellas {
    margin-left: 0.5em;
    display: flex;
    align-items: flex-end;
}

.estrellas img {
    width: 1.48288rem;
    height: 1.5rem;
    margin-right: 0.4em;
}

.btn-comment {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 2.1em;
}

.btn-comment button {
    width: 7.33481rem;
    height: 2.8125rem;
    border-radius: 0.375em;
    background-color: var(--prim-luz3);
    color: var(--blanco, #F5FBFF);
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
    border: 0;
}

.reseñas {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reseña {
    width: 100%;
    height: 9em;
    background-color: #747e7a;
    background-image: url(../imgs/mainOpacity.png); 
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.375em;
    color: var(--blanco);
}

.cj1Reseña {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

.cj1Reseña img {
    width: 2.93394em;
    height: 2.5em;
} 

.username {
    font-family: Roboto;
    font-size: 1.625em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--acento-luz);

}

.fecha {
    font-size: 1.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.estrReseña {
    width: 9.70063em;
    height: 1.5em;
}

.estrReseña img {
    width: 9.70063rem;
    height: 1.5rem;
}

.cj2Reseña {
    margin-top: 1em;
    margin-left: 1.5em;
}


.publicidad {
    width: 40%;
    height: 38.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.publicidad img:first-child {
    width:  75%;
    height: 12.67575rem;
}

.publicidad img:last-child {
    width:  75%;
    height: 26.1875rem;
}


/* FOOTER */

.fat-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--prim-sombra3);
    width: auto;
    height: 16.4375rem; 
}

.fat-footer ul {
    height: 8.6em;
}

.fat-footer ul li {
    color: var(--blanco);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin-bottom: 1em;
}

.fat-footer ul li:first-child {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco-oscuro);
    margin-bottom: 0.5em;
}

.fat-footer ul li:first-child:hover {
    color: var(--blanco);
}

.fat-footer ul li:hover {
    color: var(--prim-luz2);
}