@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100&display=swap');
/*NO HACER PUSH*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.test {
    display: flex;
    width: 100%;
    
}

:root {
    /* seccion colores */
    --acento-luz: #00D88C;
    --acento: #00724A;
    --acento-oscuro: #003A26;;
    --prim: #00488A;
    --prim-luz1: #0A5499;
    --prim-luz2: #0B64B8;
    --prim-luz3: #0D85F5;
    --prim-sombra1: #00284E;
    --prim-sombra2:  #00182F;
    --prim-sombra3: #000D1A;
    --blanco: #F5FBFF;
    --blanco-oscuro: #E5F4FF;
    --negro: #23282B;
}

h1 {
    color: var(--acento-luz);
}

.imgCard {
    width: 12.9375rem;
    height: 12.625rem;   
    padding: 0.5rem;
}

.card h3, .btnJugar {
margin-left: 0.5rem;
}
.btn {
    border-radius: 0.3125rem;
}
.btnJugar {
    /* margin-left: ; */
    width: 6.77713rem;
    height: 3.18956rem;
    background-color:var(--prim-luz3);
    color:var(--blanco);
}

div h3 {
 margin-left: 0.5rem;   
}
.gratis{
    width: 3.4375rem;
    height: 1.5rem;
    margin: 0.5rem;
    background-color: var(--acento-luz);
    color: var(--prim-sombra3);
}
.imgcarruselprincipal {
    width: 90em;
    height: 41.625em;
}

.card {
    width: 15.13569rem;
    height: 22.89363rem;
    border-radius: 5px;
    border: solid
}
/*  Seccion Formulario Registro */

.register-container {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    background-image: url('../imgs/imgEspacial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tituloLogo {
    display: flex;
    height: 2.6em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.tituloLogo img {
    width: 2.5em;
    height: 2.7em;
}

.tituloLogo h1 {
    margin-left: 5px;
    margin-right: 1em;
    font-family: var(--fuente-logo);
    color: var(--blanco);
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-register-container {
    width: 25.65em;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.tituloRegister {
    width: 25.62531rem;
    height: 2.875rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.6em;
}


.linea {
    display: inline-block;
    width: 4.06294rem;
    height: 0.0625rem;
    background-color: var(--blanco);
    margin: 1em 0;
}

.marcianito {
    width: 2.375rem;
    height: 2.375rem;
    margin-left: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
}

.registrarse {
    display: inline-block;
    text-align: center;
    padding-bottom: 0.4em;
}

.registrarse h1{
    font-family: var(--fuente-logo);
    display: inline;
    margin-bottom: 3em;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
}
.form-register {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.form-register label {
    color: var(--blanco);
    width: 13.625rem;
    height: 1.3125rem;
}

.inputForm {
    margin: 0.4em 0;
    width: 100%;
    height: 3.625em;
    background-color: var(--prim-sombra2);
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    color: var(--gris);
    outline: 0;
    margin-bottom: 1em;
    padding: 0.7em;
}

.inputForm:hover {
    background-color: var(--prim-sombra1);
}
/* seccion botones form */

.btn-captcha-container, .btn-registrarse-container {
    text-align: center;
    margin-top: 1em;
    width: 100%;
    height: 3.823rem;
    align-items: center;
}

.btn-captcha-container{
    margin-left: 5em;
    display: flex;
    width: 16.07213em;
    height: 4.0625em;
    background-color: var(--prim-sombra2);
    border: 1px solid var(--blanco);
    border-radius: 0.5em;
}
.btn-captcha-container .rectanguloCaptcha{
    width: 1.50em;
    height:1.50em;
    border-radius: 0.125rem;
    border: 1px solid var(--gris, #B8CAD8);
    margin-left: 2em;
    margin-right: 1em;
}
.btn-captcha-container button {
    background-color: var(--prim-sombra2);
    color: var(--blanco);
    margin-left: 3em;
}

.img-captcha {
    margin-left: 1em;
}
.texto {
    color: var(--blanco)
}
.btn-registrarse-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    height: 2.8125rem;
    
}

.btn-registrarse-container button {
    width: 10.9375em;
    height: 100%;
    background-color: var(--prim-luz3);
}

.h3 {
  font-size: medium;  
}
.h4 {
    font-size: small;
}
.textonegro{
    color: var(--negro);
}

.lineaBtnGoogleFace1 {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1em 0;
    margin-top: 1.5em;
}

.lineaBtnGoogleFace1 p{
    display: inline;
    color: var(--blanco);
    font-size: 0.75em;
    margin: 0 1em;
}

.linea2 {
    width: 12.1875rem;
    height: 0.0625rem;
    background-color: var(--blanco);
}

.linea-btns-google-face {
    width: 25.875rem;
    height: 0.0625rem;
    background-color: var(--blanco);
   
}

.tienesCuenta {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

.tienesCuenta h2, span {
    color: var(--blanco);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tienesCuenta span {
    color: var(--prim-luz3);
}
.linea3 {
    margin-top: 2em;
    width: 100%;
    height: 0.0625em;
    background-color: var(--blanco);
}


.btn-google-face {
    width: 100%;
    height: 19em
}

.btn-google-container, .btn-facebook-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.50em;
}
.btn-google-container button, .btn-facebook-container button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-facebook-container{
    margin-top: 1em;
}

.btn-google-container button, .btn-facebook-container button {
    width: 19.375em;
    height: 100%;
    border-radius: 15em;
    border: 1px solid var(--negro);
}
a {
    text-decoration: none;
    color: inherit;
}

.imgIconos{
    margin-right: 0.5em;
}
.btn-facebook-container button {
    background-color: var(--prim);
}
